@charset "utf-8";
/* CSS Document */
/* */
body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background-color: #333333;
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 100%;
	max-height: 100%;
}
/*body.loading {
		background-position:center center;
		background-repeat:no-repeat;
		background-image: url(loading.gif);
}*/

/* ~~ Element/tag selectors ~~ */
ul, ol, dl { 
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	
	margin-top: 0;	
	padding-right: 15px;
	padding-left: 15px;
	text-align: center;
}
h1{
	color: #CCCCCC;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
}
a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
}

/* ~~ Styling for your site's links must remain in this order - including the group of selectors that create the hover effect. ~~ */
a:link {
	color:#414958;
	text-decoration: underline; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
}
a:visited {
	color: #4E5869;
	text-decoration: underline;
}
a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	text-decoration: none;
}

/* ~~ These are the columns for the layout. */
.sidebar1 {
	position:absolute;
	left:0; 
	overflow: auto;
	height: 100%;
	width: 33.33%;
	z-index: 0;	
	
}
.content {
	position:absolute;
	left:33%;
	overflow: auto;
	height: 100%;
	width: 33.33%;
	z-index: 1;	
}
.sidebar2 {
	position:absolute;
	left:66%;
	overflow: auto;
	height: 100%;
	width: 33.33%;
	z-index: 2;	
}

/* ~~ This grouped selector gives the lists in the .content area space ~~ */
.content ul, .content ol { 
	padding: 0 15px 15px 40px; /* this padding mirrors the right padding in the headings and paragraph rule above. Padding was placed on the bottom for space between other elements on the lists and on the left to create the indention. These may be adjusted as you wish. */
}

/* ~~ The navigation list styles (can be removed if you choose to use a premade flyout menu like Spry) ~~ */
ul.nav {
	list-style: none; /* this removes the list marker */
	border-top: 1px solid #666; /* this creates the top border for the links - all others are placed using a bottom border on the LI */
	margin-bottom: 15px; /* this creates the space between the navigation on the content below */
}
ul.nav li {
	border-bottom: 1px solid #666; /* this creates the button separation */
}
ul.nav a, ul.nav a:visited { /* grouping these selectors makes sure that your links retain their button look even after being visited */
	padding: 5px 5px 5px 15px;
	display: block; /* this gives the link block properties causing it to fill the whole LI containing it. This causes the entire area to react to a mouse click. */
	text-decoration: none;
	background-color: #8090AB;
	color: #000;
}
ul.nav a:hover, ul.nav a:active, ul.nav a:focus { /* this changes the background and text color for both mouse and keyboard navigators */
	background-color: #6F7D94;
	color: #FFF;
}

/* ~~ miscellaneous float/clear classes ~~ */
.fltrt {  /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the #container) if the overflow:hidden on the .container is removed */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
table {
	border-color: #999;
	background-color: #666;
	outline-color: #F90;
	text-align: center;
	box-shadow: 1em 2em 9px 15px #F60;
	
}
.wrapper{
	border: 1px solid #333333;
	overflow: hidden;
	width:100%;
	height:100%;
}
#inputEntry{
	color: #F60;
		
}
#inputPromptTwt{
	visibility: visible;
	color: #CCC;
}
/* this is where the Twitter Feed Stuff lives*/	
#info {
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;				
	background:#C90;
	border:1px solid  #fbeed5;
	width:100%;
	max-width:900px;
	margin:0 auto 10px auto;
}
	
#info .info-wrapper {
	padding:5px;
}

#info a {
	color:#c09853;
	text-decoration:none;
}

#info p {
	margin:5px 0 0 0;
}	

#jstwitter {
	position: relative;
}
/* this is the Background box*/
#jstwitter .item {
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow:0 0 3px 1px rgba(100,100,100,0.2);
	-moz-box-shadow:0 0 3px 1px rgba(100,100,100,0.2);
	box-shadow:0 0 3px 1px rgba(100,100,100,0.2);						
	overflow:hidden;
	background:#A0A0A0;
}
		
#jstwitter .tweet-wrapper {
	padding:10px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;								
	line-height:16px;				
}
	 
#jstwitter .item a {
	text-decoration:none;
	color: #03a8e5;
}

#jstwitter .item img {
	width:100%;
}	

#jstwitter .item a:hover {
	text-decoration: underline;
}

#jstwitter .item .text {
	display:block;
	color:#333;
}

#jstwitter .item .time, #jstwitter .tweet-wrapper .user {
	font-style: italic;
	color: #FC0;
}
